<p>add-loan works!</p>
<table>

    <tr>

        <td>

            <label for="">LOANID</label>

        </td>

        <td><input formControlName="id" ></td>

    </tr>

    <tr>

        <td>LOAN CUSTOMER NAME</td>

        <td><input  formControlName="name"></td>

    </tr>

    <tr>

        <td>Loan Amount</td>

        <td><input  formControlName="la"></td>

    </tr>

    <tr>

        <td>Date Of Loan</td>

        <td><input  formControlName="dol"></td>

    </tr>
    <tr>

        <td>Tenure</td>

        <td><input  formControlName="tenure"></td>

    </tr>

    <tr>

        <td>Rate Of Interest</td>

        <td><input  formControlName="roi"></td>

    </tr>

    <tr>

        <td colspan="2">

            <button type="button" (click)="add()">ADD</button>

        </td>

    </tr>

</table>

</form>